<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Black</key>
	<string>NunitoSans-Black.ttf</string>
	<key>BlackItalic</key>
	<string>NunitoSans-BlackItalic.ttf</string>
	<key>Bold</key>
	<string>NunitoSans-Bold.ttf</string>
	<key>BoldItalic</key>
	<string>NunitoSans-BoldItalic.ttf</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ExtraLight</key>
	<string>NunitoSans-ExtraLight.ttf</string>
	<key>ExtraLightItalic</key>
	<string>NunitoSans-ExtraLightItalic.ttf</string>
	<key>Image Name</key>
	<string>pokeball</string>
	<key>Italic</key>
	<string>NunitoSans-Italic.ttf</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Light</key>
	<string>NunitoSans-Light.ttf</string>
	<key>LightItalic</key>
	<string>NunitoSans-LightItalic.ttf</string>
	<key>Regular</key>
	<string>NunitoSans-Regular.ttf</string>
	<key>SemiBold</key>
	<string>NunitoSans-SemiBold.ttf</string>
	<key>SemiBoldItalic</key>
	<string>NunitoSans-SemiBoldItalic.ttf</string>
	<key>UIAppFonts</key>
	<array>
		<string>NunitoSans-SemiBoldItalic.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-LightItalic.ttf</string>
		<string>NunitoSans-Light.ttf</string>
		<string>NunitoSans-Italic.ttf</string>
		<string>NunitoSans-ExtraLightItalic.ttf</string>
		<string>NunitoSans-ExtraLight.ttf</string>
		<string>NunitoSans-BoldItalic.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
		<string>NunitoSans-BlackItalic.ttf</string>
		<string>NunitoSans-Black.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
